ul {
    list-style-type: none;
    overflow: hidden;
    background-color: purple;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

li a:hover {
    color: darkorange;
}

.header{
    text-align: center;
    color: #5c2861 ;
}

.border-article{
    background-color: lightgray;
}



.bg-blue{
    background-color: rgb(60,138,228);
}
.bg-yellow{
    background-color: rgb(231,187,93);
}
.bg-green{
    background-color: rgb(93,231,190);
}
.bg-red{
    background-color: rgb(231,93,127);
}
.bg-gray{
    background-color: lightgray;
}
.bg-purplelght{
    background-color: #bd0088;
}
.bg-purple{
    background-color: #5c2861;
}
/*----------------------------- bg-colors */

.white{
    color: white;
}
.black{
    color: black;
}

.gray{
    color: darkgray;
}



/*----------------------------- colors */
.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}
/*----------------------------- text-Aligments */
.hght-30{
    height: 30px;
}
.hght-50{
    height: 50px;
}
.hght-60{
    height: 60px;
}
.hght-80{
    height: 80px;
}

/*----------------------------- Heights */


.wdth-30{
    width: 30px;
}
.wdth-50{
    width: 50px;
}

/*----------------------------- Widths */

.pdng-5{
    padding: 5px;
}

.pdng-10{
    padding: 10px;
}

.pdng-15{
    padding: 15px;
}
.pdng-50{
    padding: 50px;
}
/*----------------------------- Paddings */
.mrgn{
    margin: 20% 0px;
}



.fntsz-20{
    font-size: 20px;
}

/*----------------------------- Font-Sizes */

.fnttitle{
    font-family: Tahoma;
}

/*----------------------------- Fonts */

.flt-lft{
    float: left;
}

.clrbth{
    clear: both;
}

.row::after{
    content:" ";
    clear: both;
    display: table;
}


@media only screen and (min-width: 0px) {
    /* For mobile phones: */


    [class*="col-sm"] {
        box-sizing: border-box;
        float: left;
        /*padding: 5px;*/
    }
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

    ul{
        position: relative;
        width: 75%;
        left: 1%;
    }
    .mrgn{
        margin: 30% 0px;
    }
}


@media only screen and (min-width: 400px) {
    [class*="col-md"] {
        box-sizing: border-box;
        float: left;
        /*padding: 5px;*/
    }
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    ul{
        position: relative;
        width: 80%;
        /*left: 5px;*/
    }
    .header{
        text-align: center;
        color: deeppink ;
    }

    .mrgn{
        margin: 3% 0px;
    }
}


@media only screen and (min-width: 800px) {

    [class*="col-l"] {
        box-sizing: border-box;
        float: left;
        /*padding: 5px;*/
    }

    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}

    ul{
        position: relative;
        width: 60%;
        left: 30%;
    }
    .header{
        text-align: center;
        color: #f5b72d ;
    }
    .mrgn{
        margin: 3% 0px;
    }

}
@media only screen and (min-width: 1000px) {

    [class*="col-xl"] {
        box-sizing: border-box;
        float: left;
        /*padding: 5px;*/
    }

    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
    ul{
        position: relative;
        width: 60%;
        left: 34%;
    }

    .header{
        text-align: center;
        color: #04df98 ;
    }
    .mrgn{
        margin: 2% 0px;
    }

}
