body{
    margin: 0px;
    font-family: 'novecento_widedemibold', sans-serif;
    font-size: 13px;
}
ul{
    list-style-type: none;
}

.icon{
    float: right;
    position: relative;
    font-size: 20px;
    color: lightgray;
    right: 20px;
    top: 10px;
    border-style: solid;
    border-width: 0.4px;
    border-radius: 4px;
    padding:2px 5px;

}
.bask{
    color: white;
    background-color: #FC615D;
}

.icon:hover{
    color: #FC615D;
}


.viewLiknk{
    text-decoration: none;
    color: #111111;

}

.linav {
    float: left;
}

.lianav {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.lianav:hover {
    color: #FC615D;
}

.disable{
    color:#595a5b;
    cursor: not-allowed;

}
.link-drop{
    color : #7d7f80;
}
.link-drop:hover{
    color: lightgray;
}

.ulnavright{
    padding: 0;
}


.lianavright {
    float: left;
    width: 240px;
    color: #0275d8;
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px lightgray ;
    border-style: none solid solid solid;
    border-radius: 3px;
}
.lianavright:hover{
    color: darkblue;
}

.blue-link{
    background-color: #0275d8;
    color: white;

}
.nav{
    display: block;
    list-style-type: none;
    border-style: none none none none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: relative;
    top: 0;
    left: 30px;
}
.navbar{
    position: relative;
    left: 10px;
    top:12px;
    text-decoration: none;
    display: block;
    color: black;
}


.viewbutton{
    font-size: 17px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}
.viewbutton:hover{
    background-color: lightgray;
}

.input{
    position: relative;
    top: 7px;
    height: 20px;
    width: 180px;
    border-radius: 5px;
    padding: 5px;
    border-style: none;
}

.searchField{
    display: block;
    background-color: lightgray;
}
.searchicon{
    position: relative;
    top: 7px;
    right: 4px;
    background-color: lightgray;
    height: 18px;
    width: 15px;
    border-radius: 0px 5px 5px 0px;
    padding: 6px 5px;
}


.bg-blue{
    background-color: rgb(60,138,228);
}
.bg-yellow{
    background-color: rgb(231,187,93);
}
.bg-green{
    background-color: rgb(93,231,190);
}
.bg-red{
    background-color: rgb(231,93,127);
}
.bg-gray{
    background-color: #292b2c;
}
.bg-purple{
    background-color: purple;
}
.bg-softgray{
    background-color: #eceeef;
}
.bg-white{
    background-color: white;
}

/*----------------------------- bg-colors */

.white{
    color: white;
}
.black{
    color: black;
}

.gray{
    color : #292b2c;
}
.red{
    color : #FC615D;
}

/*----------------------------- colors */
.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}
/*----------------------------- text-Aligments */
.hght-30{
    height: 30px;
}
.hght-50{
    height: 50px;
}
.hght-80{
    height: 80px;
}
.hght-180{
    height: 180px;
}

.hght-200{
    height: 200px;
}
.hght-full{
    height: 100%;
}

/*----------------------------- Heights */


.wdth-30{
    width: 30px;
}
.wdth-50{
    width: 50px;
}
.wdthfull{
    width: 100%;
}

/*----------------------------- Widths */


.pdng-0{
    padding: 0;
}

.pdng-5{
    padding: 5px;
}

.pdng-10{
    padding: 10px;
}

.pdng-20{
    padding: 20px;
}
.pdng-30{
    padding: 30px;
}
.pdng-40{
    padding: 40px;
}
.pdng-main{
    padding: 20px 90px;
}
.pdngrightnav{
    padding: 0 20px;
}
.pdng-icon{
    padding: 10px 15px;
}
.pdng-search{
    padding: 10px 12px;
}
.menupdng{
    padding:10px 0px;
}
/*----------------------------- Paddings */

.mrgn-0{
    margin: 0;
}
/*----------------------------- Margins */



.border-bottom{
    border-style: none none solid none;
    border-color:  lightgray;
    border-width: 2px;
}

.border-full{
    border: 1px solid lightgray;
}




/*----------------------------- Borders */




.fntsz-20{
    font-size: 20px;
}

/*----------------------------- Font-Sizes */


.flt-lft{
    float: left;
}

.flt-rght{
    float: right;
}
.center {
    width: 50%;
    border: 3px solid #4e9550;
    padding: 10px;
}
/*----------------------------- Places */
.rdus5{
    border-radius: 5px;
}

.clrbth{
    clear: both;
}

.row::after{
    content:" ";
    clear: both;
    display: table;
}

.redRect{
    position: relative;
    left: 35%;
    width: 420px;
    height: 50px;
    background-color: #FC615D;
    border-radius: 3px;
    color: white;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 2% 15%;
    width: 80%;
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-style: none;
    min-width: 100px;
    min-height: 100px;

}

@media only screen and (min-width: 1236px) {

    [class*="col-l"] {
        box-sizing: border-box;
        float: left;
        padding: 5px;
    }

    .nav{
        display: block;
    }
    .searchField {
        display: block;
    }
    .item1{
        grid-column: 1/4 ;
        grid-row: 1/3;
    }
    .item2{
        display: block;
    }
    .item3{
        display: block;
    }
    .item4{
        grid-column: 1/3;
    }
}
@media only screen and (max-width: 1235px) {

    [class*="col-l"] {
        box-sizing: border-box;
        float: left;
        padding: 5px;
    }

    .nav{
        display: block;
    }
    .searchField {
        display: block;
    }
    .item1{
        grid-column: 1/4 ;
        grid-row: 1/3;
    }
    .item2{
        display: block;
    }
    .item3{
        display: block;
    }
    .item4{
        grid-column: 1/3;
    }
}

@media only screen and (max-width: 986px) {
    [class*="col-md"] {
        box-sizing: border-box;
        float: left;
        padding: 5px;
    }
    .nav{
        display: block;
    }

    .searchField {
        display: none;
    }
    .searchicon{
        background-color: white;
        color: lightgray;
    }
    .item1{
        grid-column: 1/5;
    }
    .item2{
        display: none;
    }
    .item3{
        display: none;
    }
    .item4{
        grid-column: 1/3;
    }
}

@media only screen and (max-width: 719px) {
    /* For mobile phones: */

    [class*="col-sm"] {
        box-sizing: border-box;
        float: left;
        padding: 5px;
    }
    .nav{
        display: none;
    }
    .searchField {
        display: none;
    }
    .searchicon{
        background-color: white;
        color: lightgray;
    }
    .item1{
        display: none;
    }
    .item2{
        display: none;
    }
    .item3{
        display: none;
    }
    .item4{
        display: none;
    }
    .item5{
        display: none;
    }
    .item6{
        display: none;
    }
    .item7{
        grid-column: 1/2;
    }
    .item8{
        grid-column: 2/3;
}
.item9{
    grid-column: 3/4;
}
.item10{
    grid-column: 4/5;
}
.item11{
    grid-column: 1/2;
}
.item12{
    grid-column: 2/3;
}
.item13{
    grid-column: 3/4;
}
.item14{
    grid-column: 4/5;
}
.item16{
    display: none;
}
.item17{
    display: none;
}

}
@media only screen and (max-width: 480px){

    [class*="col-sm"] {
        box-sizing: border-box;
        float: left;
        padding: 5px;
    }
    .nav{
        display: none;
    }
    .searchField {
        display: none;
    }
    .searchicon{
        background-color: white;
        color: lightgray;
    }
    .item1{
        display: none;
    }
    .item2{
        display: none;
    }
    .item3{
        display: none;
    }
    .item4{
        display: none;
    }
    .item5{
        display: none;
    }
    .item6{
        display: none;
    }
    .item7{
        grid-column: 1/5;
    }
    .item8{
        grid-column: 1/5;
    }
    .item9{
        grid-column: 1/5;
    }
    .item10{
        grid-column: 1/5;
    }
    .item11{
        grid-column: 1/5;
    }
    .item12{
        grid-column: 1/5;
    }
    .item13{
        grid-column: 1/5;
    }
    .item14{
        grid-column: 1/5;
    }
    .item15{
        display: none;
    }
    .item16{
        display: none;
    }
    .item17{
        display: none;
    }
    .item18{
        display: none;
    }

}




