<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="node_modules/angular/angular.js"></script>
    <title>tst</title>
</head>
<body ng-app="MyApplication">

    <!--<h1> Salam </h1>-->
    <!--<h2> Heey Maktabi ha </h2>-->

    <!--<label>-->
        <!--<input type="text" ng-model="bindingTest">-->
    <!--</label>-->
    <!--<span> Binded : {{bindingTest}} </span>-->
    <!--<span ng-bind="bindingTest"> </span>-->

    <!--<div ng-controller="controllerDataName">-->


        <!--<h3> Title : {{title}}</h3>-->
        <!--<h3> content : {{content}}</h3>-->
        <!--<h3> number : {{number}}</h3>-->


        <!--<table>-->
            <!--<tr>-->
                <!--<th>ردیف</th>-->
                <!--<th>نام</th>-->
            <!--</tr>-->
            <!--<tr ng-repeat="food in foods">-->
                <!--<td>{{$index + 1 }}</td>-->
                <!--<td>{{food}}</td>-->
            <!--</tr>-->

        <!--</table>-->


        <!--<table>-->
            <!--<tr>-->
                <!--<th>index</th>-->
                <!--<th>name</th>-->
            <!--</tr>-->
            <!--<tr ng-repeat="(key, field) in obj">-->
                <!--<td>{{key}}</td>-->
                <!--<td>{{field}}</td>-->
            <!--</tr>-->

        <!--</table>-->


        <!--<table>-->
            <!--<tr>-->
                <!--<th>Data</th>-->
                <!--<th>0</th>-->
                <!--<th>1</th>-->
                <!--<th>2</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>name</td>-->
                <!--<td ng-repeat="data in arr"> {{data['name']}}</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>age</td>-->
            <!--<td ng-repeat="data in arr"> {{data['age']}}</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>gender</td>-->
                <!--<td ng-repeat="data in arr"> {{data['gender']}}</td>-->
            <!--</tr>-->
        <!--</table>-->


    <!--</div>-->

    <!--<div>Enter first name:<input type = "text" ng-model = "a"></div>-->
    <!--<div>Name in Upper Case: {{a | uppercase}}</div>-->
    <!--<div>Name in Lower Case: {{a | lowercase}}</div>-->


    <!--<div>Enter first name:<input type = "text" ng-model = "b"></div>-->
    <!--<div>Name in Upper Case: {{b | myFunc : 4 }}</div>-->


    <!--<div>Enter String here: ( a includes : Show , No a : Hidden )  <input type = "text" ng-model = "c"> </div>-->
    <!--<div ng-if="c.includes('a') || c.includes('A')">Name in Upper Case: {{c | mySecondFunc}}</div>-->

    <!--<div> Enter ONLY Number : <input type="text" ng-model = "d"> </div>-->
    <!--<div> {{ d | numberDetector }} </div>-->


</body>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="app.js"></script>
<script src="mainController.js"></script>
<script src="filter.js"></script>

</html>