<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Article</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/myCSS.css">
<script src="/articles.js"></script>
<script src="/jquery-3.3.1.min.js"></script>
