.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
.brown{
    background-color: brown;
}
.yellow{
    background-color:yellow;
}

