<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>


<main>
    <div class="jumbotron">

        <h2>  ADD Articles </h2>

        <hr>
        <div class="container">
                <div class="form-group">
                    <label for="comment">article Title :</label>
                    <textarea class="form-control" rows="1" id="art_title"></textarea>
                    <label for="comment" class="m-top-25">article Content:</label>
                    <textarea class="form-control" rows="5" id="art_content"></textarea>
                    <button class=" btn btn-success form-control m-top-10" onclick="addToDB()"> SUBMIT </button>
                </div>
        </div>


    </div>
</main>

</body>
</html>